@charset "UTF-8";

section#conteudo{
    width: 1000px;
    margin: auto;
}

iframe#frame-specs{
    width:400px;
    height: 280px;
    border: none;
    /* O overflow hidden serve pra remover a visualização do conteudo */
    overflow: hidden;
}

/* Esconder as barras do conteudo adicionado */
iframe#frame-specs ::-webkit-scrollbar{
    display: none;
}